<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap-material-design.css">
  <link rel="stylesheet" type="text/css" href="static/css/ripples.css">
  <link rel="stylesheet" type="text/css" href="static/css/mystyle.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script src="static/js/material.js"></script>
  <script src="static/js/ripples.min.js"></script>
  <script src="static/js/snackbar.min.js"></script>
  <script>
      $.material.init();
  </script>
</head>
<title>Question</title>
<h1>Genarater</h1>

<div class="jumbotron" style="background-color:#FFFFFF;margin:50px;padding:50px;">
   <h1>Question</h1>
   <p>@@に関係がありますか？</p>
    <a href="javascript:void(0)" class="btn btn-raised btn-default">YES</a>
    <a href="javascript:void(0)" class="btn btn-raised btn-default">NO</a>
</div>

<!-- progress bar -->
<div class="progress progress-striped active">
  <div class="progress-bar" style="width: 45%"></div>
</div>

<a href="result">result</a>
